@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 60px;
    grid-template-areas: 
        "header main main"
        "header main main"
        "footer footer footer"
    ;
}

body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    background-color: green;
    grid-area: footer;
}

img {
    width: 30px;
}

a {
    color: #0f141e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* header */

.page {
    margin: 10px;
    border: 1px solid grey;
    background: #f58361;
    position: relative;
    top: 15%;
}

.page ul {
    list-style: none;
}

.page li {
    padding: 10px 5px 25px 5px;
}

.logo {
    width: 100px;
    margin: 10px;
    padding: 5px;
}

/*main*/

.Jumbotron {
    width: 1fr;
    height: 300px;
    background-color: grey;
    border-radius: 5px;
    margin: 20px;
    border: 1px solid #000;
}

.row {
    display: flex;
}

.text {
    width: 30%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.blue {
    background-color: #41f5f2;
    border: 1px solid grey;
}

.green {
    background-color: #1ff956;
    border: 1px solid grey;
}

.yellow {
    background-color: #ebf654;
    border: 1px solid grey;
} 

/*input+btn*/

.sing {
    text-align: right;
    margin-right: 20px;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.form-groupe input {
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    font-family: inherit;
    color: #0f141e;
    padding: 5px 2px;
    outline: none;
}

/* footer */

.foot {
    margin: 5px 5px 0 5px;
}
 
.pic {
    position: relative;
    float: right;
}

.foot ul {
    list-style: none;
}

.foot li {
    display: inline;
    padding: 5px 5px;
}

.laib {
    padding: 5px 5px; 
}
